.main{
    border: 1px solid black;
    width: 20%;
    margin: auto;
    background-color: rgb(5, 5, 5);
    text-align: center;
    padding: 10px 0px;
}
input{
    width: 90%;
}
button{
    width: 18%;
    background-color: aliceblue;
}
.abc{
    width: 22%;
} 